td {
	width: 100px;
	height: 100px;
}
.field {
	background-color: white;
	width: 80px;
	height: 80px;
	border: 7px solid black;
	text-align: center;
	border-radius: 45px;
}
.target-field {
	background-color: white;
	width: 50px;
	height: 50px;
	border: 7px solid black;
	text-align: center;
	border-radius: 30px;
	margin-left: 15px;
}